<div id="{{{containerid}}}" class="block_zoola_reports">
    <div class="block_zoola_reports_dashboard">
        <div class="block_zoola_reports_loading">
            <span class="loading-icon">{{#pix}} i/loading, core {{/pix}}</span>
            <br>
            <span class="message">{{#str}} retrievingdata, block_zoola_reports {{/str}}</span>
        </div>
    </div>
</div>
