<div class="modal block_zoola_reports" style="display: none;" id="block_zoola_reports-emailform" tabindex="-1" role="dialog" aria-labelledby="block_zoola_reports-emailform-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="block_zoola_reports-emailform-label">
                    {{#str}} email, block_zoola_reports {{/str}}
                </h4>
            </div>
            <div class="modal-body">
                {{{emailformbody}}}
            </div>
            <div class="block_zoola_reports-emailwait" style="display: none;">
                <span class="loading-icon">{{#pix}} i/loading, core, Sending email ... {{/pix}}</span>
            </div>
        </div>
    </div>
</div>
