<div class="modal block_zoola_reports block_zoola_reports_inputcontrols" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="block_zoola_reports-inputcontrols-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="block_zoola_reports-inputcontrols-label">
                    {{#str}} inputcontrols, block_zoola_reports {{/str}}
                </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-apply">{{#str}} ok {{/str}}</button>
                <button type="button" class="btn btn-secondary btn-reset">{{#str}} reset {{/str}}</button>
                <button type="button" class="btn btn-secondary btn-cancel">{{#str}} cancel {{/str}}</button>
            </div>
        </div>
    </div>
</div>
